.style-for-description {
    margin-left: 20px;
    display: inline;
}

.style-for-main-container {
    background: greenyellow;
    width: 600px;
    margin-left: 200px;
}
.style-for-inside-div{
    display: inline;
}

.style-for-container-with-image {
    align-items: flex-end;
}

.sign {
    float: right;
    border: 1px solid #333;
    padding: 7px;
    margin: 10px 0 5px 5px;
    background: #f0f0f0;
}

.sign figcaption {
    margin: 0 auto 5px;
}

body{
    background: #E0FFFF;
}